.main {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  padding: 0 6rem;
  min-height: 100dvh;
}
@media (max-width: 400px) {
    .main {
      padding: 0 1rem;
    }
}

.main h1 {
  margin-bottom: 2rem;
}

.descriptionH2 {
  margin-top: 10px;
  display: block;
}

.descriptionH2 span {
  transition: transform 200ms;
  display: inline-block;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .descriptionH2:hover span {
    transform: translateX(-4px);
  }
}
