p.date {
    color: #777;
    font-size: 10px;
    /*float: right;*/
    text-align: right;
    max-height: 50px;
    overflow: hidden;
}

.header {
    display: inline-flex;
    gap: 5px;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
